@model GaithAlQuraniProject.Models.RegistrationForm


    <form asp-action="SaveRegistratonForm" role="form">
          <div class="row">
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input type="tel" class="form-control" asp-for="phoneNumber" placeholder="  (رقم جوال (واتساب" >
               @Html.ValidationMessageFor(m => m.phoneNumber)
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input  class="form-control" asp-for=Country placeholder="الدولة" >
               @Html.ValidationMessageFor(m => m.Country)
            </div>
            <div class="col-md-4 form-group">
              <input type="text" asp-for="Name" class="form-control"  placeholder="اسمك" >
               @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input  class="form-control" asp-for="GaithGroupId" value="@Model.GaithGroupId" hidden>
            </div>
          </div>
          <div class="row">
              <div class="form-group mt-3 col-md-6">
                <textarea asp-for=MemorizedPart class="form-control" rows="5" placeholder="مقدار الحفظ من القرآن"></textarea>
                 @Html.ValidationMessageFor(m => m.MemorizedPart)
             </div>
                <style>
               
                </style>
             <div class="col-md-6 form-group mt-3 wrapper">
              <select size="5" class="form-select" asp-for="Rewayah"  > @* from db *@
              <option selected>الرواية</option> @* check its validation *@
                <option value="حفص">حفص عن عاصم</option>
                <option value="ورش">ورش عن نافع</option>
                <option value="قالون">قالون عن نافع</option>
                <option value="شعبة">شعبة عن عاصم</option>
                <option value="قنبل">قنبل عن ابن كثير</option>
                <option value="البزي">البزي عن ابن كثير</option>
                <option value="الدوري">الدوري عن ابو عمرو</option>
                <option value="السوسي">السوسي عن ابو عمرو</option>
                <option value="هشام">هشام عن ابن عامر</option>
                <option value="ابن ذكوان">ابن ذكوان عن ابن عامر</option>
                <option value="خلف">خلف عن حمزة</option>
                <option value="خلاد">خلاد عن حمزة</option>
                <option value="ابو الحارث ">ابو الحارث عن الكسائي</option>
                <option value="الدوري عن الكسائي">الدوري عن الكسائي</option>
              </select>
              @Html.ValidationMessageFor(m => m.Rewayah)
             </div>
          </div>

          <div class="modal-footer mt-3 justify-content-between">  
          <div class="text-center"><button class="btn btn-danger "  type="submit" >تسجيل</button></div>
            </div>
        </form>


@* 
@section Scripts {
    <script>
        $(document).ready(function () {


             $("body").on("click", ".test", function () {
               var id= document.getElementById('Name').value;
                if(id==""){
                    document.getElementById('test2').innerHTML="TESSSSSSST";
                }
            }); 
               
        });

    </script>
} *@





